<!--<div class="control-section">
  <div class="col-lg-9 content-wrapper">
    <ejs-schedule #scheduleObj width='100%' height='650px' [selectedDate]="selectedDate" [eventSettings]="eventSettings" [(currentView)]="scheduleView"
                  (eventRendered)="oneventRendered($event)">
      <e-views>
        <e-view option="Day"></e-view>
        <e-view option="Week"></e-view>
        <e-view option="WorkWeek"></e-view>
        <e-view option="Month"></e-view>
      </e-views>
    </ejs-schedule>
  </div>
  <div class="col-lg-3 property-section">
    <div class="property-panel-section">
      <div class="property-panel-header">Properties</div>
      <div class="property-panel-content">
        <div id="property" class="property-panel-table" title="Properties">
          <table id="property" title="Properties" style="width: 100%">
            <tbody>
            <tr style="height: 50px">
              <td style="width: 30%">
                <div>Current View
                </div>
              </td>
              <td style="width: 70%;">
                <div>
                  <ejs-dropdownlist id="scheduleview" [dataSource]='datas' [(value)]='scheduleView'></ejs-dropdownlist>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!-- hethi ken mee mchee chey raja3ha-->
<div class="img">
  <p>POST APPOINTMENT</p>
  <br>
  <section style='min-height: 600px;'>
    <form #f="ngForm" style="color: #c6c8ca;" (ngSubmit)="save(f)">
      <div class="form-group ">


        <div class="row flex">

          <div class="col-4"><label for="exampleInputEmail1">Name of the Appointment</label>
            <input type="text" name="nameApp" ngModel #nameApp="ngModel" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter Name*" required>
          </div><br>
        </div>
        <div class="row flex">
        <div class="alert alert-danger" *ngIf="nameApp.invalid && nameApp.touched" >
          The name of the appointment is a required filed
        </div></div>
        <div class="row flex">

          <div class="col-4"><label for="exampleInputEmail1">Place of the Appointment</label>
            <input type="text" name="placeApp" ngModel #placeApp="ngModel" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter Place*" required>
          </div>

        </div>
        <div class="row flex">
        <div class="alert alert-danger" *ngIf="placeApp.invalid && placeApp.touched" >
          The place of the appointment is a required filed
        </div></div>
        <div class="row flex">

          <div class="col-4"><label for="exampleInputEmail1">start date</label>
            <input type="datetime-local" name="dateAppdeb" ngModel #dateAppdeb="ngModel" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter Date*" required>
          </div>

        </div>
        <div class="row flex">
          <div class="alert alert-danger" *ngIf="dateAppdeb.invalid && dateAppdeb.touched" >
            The start date of the appointment is a required filed
          </div>
        </div>
        <div class="row flex">

          <div class="col-4"><label for="exampleInputEmail1">End date</label>
            <input type="datetime-local" name="dateAppFin" ngModel #dateAppFin="ngModel" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter Date*" required>

          </div>

        </div>
        <div class="row flex">
          <div class="alert alert-danger" *ngIf="dateAppFin.invalid && dateAppFin.touched" >
            <div *ngIf="dateAppFin.errors.required">The end date of the appointment is a required filed</div>
          </div>
          <!--<div class="alert alert-danger" *ngIf="dateAppFin.getError(errorts(f))" >
        </div>-->
        <!--<div class="row flex">
          <button type="submit"  (click)="PostAd(f)" class="btn btn-ghost"><span
            style="letter-spacing: 3px !important;">Make Appointment</span>
          </button>
        </div>-->
        </div>












      <!--<mbsc-eventcalendar [data]="myEvents" [options]="calendarOptions" [(selectedDate)]="calendarSelectedDate">
      </mbsc-eventcalendar>
      <mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" [headerText]="popupHeaderText" #popup>
        <div class="mbsc-form-group">
          <mbsc-input label="Title" [(ngModel)]="popupEventTitle"></mbsc-input>
          <mbsc-textarea label="Description" [(ngModel)]="popupEventDescription"></mbsc-textarea>
        </div>
        <div class="mbsc-form-group">
          <mbsc-switch label="All-day" [(ngModel)]="popupEventAllDay"></mbsc-switch>
          <mbsc-datepicker [(ngModel)]="popupEventDates" [options]="datePickerOptions" [controls]="popupEventAllDay ? datePickerControls : datetimePickerControls" [responsive]="popupEventAllDay ? datePickerResponsive : datetimePickerResponsive" [startInput]="startInput"
                           [endInput]="endInput"></mbsc-datepicker>
          <mbsc-input #startInput label="Starts"></mbsc-input>
          <mbsc-input #endInput label="Ends"></mbsc-input>
          <mbsc-segmented-group [(ngModel)]="popupEventStatus">
            <mbsc-segmented value="busy">Show as busy</mbsc-segmented>
            <mbsc-segmented value="free">Show as free</mbsc-segmented>
          </mbsc-segmented-group>
          <div *ngIf="isEdit" class="mbsc-button-group">
            <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="onDeleteClick()">Delete event
            </mbsc-button>
          </div>
        </div>
      </mbsc-popup>-->


     <div class="row flex">
       <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
         <strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
        <button type="submit"  (click)="PostAd(f)" [disabled]="f.invalid" class="btn btn-ghost">
          <!--<span aria-hidden="true">&times;</span>-->
          <div class="row flex">
            <div class="alert alert-danger" *ngIf="fin" >
              add succes
            </div>
          </div>
          <div class="row flex">
           <!-- <div class="alert alert-danger" *ngIf="f.invalid && f.touched" >
              The  appointment is a required filed
            </div>-->
             <div class="alert alert-danger" *ngIf="situation">
               date not available please show the calander
             </div>
          </div>
          <div class="row flex">
            <div class="alert alert-danger" *ngIf="situation1">
              startdate must be >9h or <19h
            </div>
          </div>
          <span
            style="letter-spacing: 3px !important;">Make Appointment</span>
          <div class="row flex">
            <div class="alert alert-danger" *ngIf="situation2">
              enddate must be >9h or <19h
            </div>
          </div>

          <div class="row flex">
            <div class="alert alert-danger" *ngIf="situation3">
              the deffirent bettwin startDate and endDate must be < 1h
            </div>
          </div>

        </button><!--</div>-->


      </div>
      </div>
    </form>


     <!-- <pre>
    {{appointments|json}}
    </pre>
      <app-calendar [appointments]="appointments"
                    (requestNewAppointment)="onRequestNewAppointment($event)"
                    (requestUpdateAppointment)="onRequestUpdateAppointment($event)"
                    (appointmentUpdated)="onAppointmentUpdated($event)">
      </app-calendar>
      <app-appointment-detail
        *ngIf="appointmentDetail"
        [isNew]="isNew"
        [appointment]="appointmentDetail"
        (add)="onAdd($event)"
        (update)="onUpdate($event)"
        (close)="onCloseAppointmentDetail()">
      </app-appointment-detail>
-->


    <!--[views]='["agenda"]'
      currentView="agenda"-->
    <!--"America/Los_Angeles"-->
    <!--"Afrique de l’Ouest"-->
    <!--"Africa/Tunis"-->
    <dx-scheduler
      timeZone="Africa/Casablanca +UTC"
      [dataSource]="appointmentsData"
      [editing]="false"
      [views]='["day", "week", "workWeek", "month"]'
      currentView="day"
      [currentDate]="currentDate"
      [startDayHour]="9"
      [endDayHour]="23"
      [height]="600">
    </dx-scheduler>
    <!--<dx-scheduler
      timeZone="America/Los_Angeles"
      [dataSource]="appointmentsData"
      appointmentTemplate="appointmentTemplate"
      [views]='["agenda"]'
      currentView="agenda"
      [currentDate]="currentDate"
      [startDayHour]="9"
      [endDayHour]="19"
      [height]="600"
     >
      &lt;!&ndash;<div *dxTemplate="let appointment of 'appointmentTemplate'">
        <i>{{appointment.text}}</i>
      &lt;!&ndash; &lt;!&ndash; <p>Price: ${{appointment.placeApp}}</p>&ndash;&gt;&ndash;&gt;
        <p>{{appointment.startDate}}</p><&#45;&#45;!startDate: $&ndash;&gt;
        <p>{{appointment.endDate}}</p><&#45;&#45;!endDate: $ $&ndash;&gt;
      </div>&ndash;&gt;


      &lt;!&ndash;<div *dxTemplate="let appointment of 'appointmentTemplate'">
        <i>{{appointment.text}}</i>
       &lt;!&ndash; <p>Price: ${{appointment.placeApp}}</p>&ndash;&gt;
        <p>startDate: ${{appointment.startDate}}</p>
        <p>endDate: ${{appointment.endDate}}</p>
      </div>&ndash;&gt;
    </dx-scheduler>-->
    <p>THE LOCATION OF THE PROPERTY</p>
  </section>
</div>
<dx-map
  provider="bing"
  [zoom]="11"
  [height]="440"
  width="100%"
  [controls]="true"
  [markerIconSrc]="mapMarkerUrl"
  [markers]="markers">
</dx-map>
<!--<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <dx-check-box
      id="use-custom-markers"
      [value]="true"
      text="Use custom marker icons"
      (onValueChanged)="checkCustomMarker($event)">
    </dx-check-box>
  </div>
</div>-->










<!--
&lt;!&ndash;<style>
  /* Height for devices larger than 576px */
  @media (min-width: 0px ) {
    #intro {
      margin-top: -2.20px;
      margin-bottom: 453.59px;
      margin-right: 10000px;
      margin-left: -570.59px;
    }


  }

  .navbar .nav-link {
    color: #fff !important;
  }
</style>

<div id="intro" class="bg-image vh-100 shadow-1-strong">

 <video style="min-width: 100%; min-height: 100%;" playsinline autoplay muted loop>
    <source class="h-100" src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
    <p style="color: #1b1e21">POST AD</p>
    <p>POST AD</p>
    <p>POST AD</p>
    <p>POST AD</p>
    <p>POST AD</p>

    <br>
  </video>
  <p>POST AD</p>
  <br>
  <form #f="ngForm" style="color: #c6c8ca;" (ngSubmit)="save(f)">
    <div class="form-group ">



      <div class="row flex">

        <div class="col-4"><label for="exampleInputEmail1">Title of the ad</label>
          <input type="text" name="titleAd" ngModel #titleAd="ngModel" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp" placeholder="Enter title">
        </div>

      </div>
    </div></form>

</div>&ndash;&gt;
-->

