<form #f="ngForm"  (ngSubmit)="onsubmit(f)">
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <div class="example-container">

        <mat-form-field appearance="fill" class="col-5">
          <mat-label>App Id</mat-label>
          <input matInput name="appointmentId" [(ngModel)]="App.appointmentId" ngModel #appointmentId="ngModel" required>
        </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-50 col-5">
          <mat-label>DateAppdeb</mat-label>
          <input type="datetime-local" id="meeting-time" matInput name="dateAppdeb" [(ngModel)]="App.dateAppdeb " ngModel #dateAppdeb="ngModel" required>
          </mat-form-field>

           <mat-form-field appearance="fill" class="width-50 col-5">
             <mat-label>DateAppFin</mat-label>
             <input type="datetime-local" id="meeting-time" matInput name="dateAppFin" [(ngModel)]="App.dateAppFin " ngModel #dateAppFin="ngModel" required>

           </mat-form-field>
             <br>
            <mat-form-field appearance="fill" class="width-50 col-5">
              <mat-label>NameApp</mat-label>
              <input matInput name="nameApp" [(ngModel)]="App.nameApp" ngModel #nameApp="ngModel" required>
            </mat-form-field>

             <mat-form-field appearance="fill" class="width-50 col-5">
               <mat-label>PlaceApp</mat-label>
               <input matInput name="placeApp" [(ngModel)]="App.placeApp" ngModel #placeApp="ngModel" required>
             </mat-form-field>




           <br>

           <br>

        <button mat-stroked-button class="ml-3" style="background-color: #b0bec5" [disabled]="f.invalid">submit</button>
        <button mat-stroked-button type="reset" class="ml-3" style="background-color: #b0bec5" >reset</button>
        <button type="button" mat-stroked-button class="ml-3" style="background-color: #b0bec5" (click)="onclose()">cancel</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
